{% extends "base.html" %}

{% block content%}
<div class = "container">
  <h3 class = "row">Welcome, Please Sign In</h3>
  <div class = "row">
    <form action="" method="post">
      {{  form.hidden_tag()  }}
      <p>
        {{  form.email.label  }}<br>
        {{  form.email(size=50)  }}<br>
        {% for error in form.email.errors %}
          <span style = 'color: red;'>[{{  error  }}]</span>
        {% endfor %}
      </p>
      <p>
        {{  form.password.label  }}<br>
        {{  form.password(size=50)  }}<br>
        {% for error in form.password.errors %}
          <span style = 'color: red;'>[{{  error  }}]</span>
        {% endfor %}
      </p>
      <p>
        {{  form.rememberMe()  }}  {{  form.rememberMe.label  }}<br>
      </p>
      <p>
        {{  form.submit()  }}
      </p>
    </form>
  </div>
</div>

{% endblock %}
