{% extends "base.html" %}

{% block content%}
  <!--welcome user full row-->
  <div class = 'row'>
    <p class = 'labeltext mb-5'>Welcome to your Fintronx dashboard, {{  current_user.name  }}</p>
  </div>
  <!--report content and links-->
  <div class = 'row'>
    <div class="col-sm-4 text-center">
      <a href = "https://app.powerbi.com/view?r=eyJrIjoiODQxZmQ1ZmMtOGE2NS00NTQyLTgwNzQtYTM1MWFhYmQ1M2U4IiwidCI6IjAxNTg3MTRiLTc0YTMtNDM1OS05YjhkLTlmYjQ5NGJlZWE0MSIsImMiOjF9"
        class = 'labeltext'>Yearly Comparison Report</a>
      <img class = 'img-thumbnail mt-3 mb-3' src="static\yearlycomp.png" alt="Report Thumbnail">
    </div>
    <div class="col-sm-4 text-center">
      <a href = "https://app.powerbi.com/view?r=eyJrIjoiMDQwZDA0N2ItZjRkMS00ZTRmLTlkZDYtNDQ5OGJiZmI0ZGJlIiwidCI6IjAxNTg3MTRiLTc0YTMtNDM1OS05YjhkLTlmYjQ5NGJlZWE0MSIsImMiOjF9"
        class = 'labeltext'>Sales By Person & Product</a>
      <img class = 'img-thumbnail mt-3' src="static\salesperson.png" alt="Report Thumbnail">
    </div>
    <div class="col-sm-4 text-center">
      <a href = "https://app.powerbi.com/view?r=eyJrIjoiYjQwZjFjYTUtNmQxNS00OGYzLThkZTEtZDQ0YTNmMDc4M2Y3IiwidCI6IjAxNTg3MTRiLTc0YTMtNDM1OS05YjhkLTlmYjQ5NGJlZWE0MSIsImMiOjF9"
        class = 'labeltext'>Core Products & Current Open Orders</a>
      <img class = 'img-thumbnail mt-3' src="static\core_openorders.png" alt="Report Thumbnail">
    </div>
  </div>
{% endblock %}
